<!--   -->

<div  *ngFor="let device of listDevices">
  <mat-card class="example-card list" >
    <mat-card-header>
      <img mat-card-sm-image [src]="device.img" />
      <mat-card-title-group class="title">
        <mat-card-title>{{ device.deviceName }}</mat-card-title>

        <mat-card-subtitle
          ><div class="devicetype">{{ device.deviceType }}</div>
          {{ device.tagNo | uppercase }}
          <span class="build">{{ device.os }}</span>
          <p *ngIf="device.assigned != null" class="assigned">
            Assigned to {{ device.assigned }}
          </p>
          <p *ngIf="device.assigned == null" class="assigned">
            No device assigned
          </p>
        </mat-card-subtitle>
        <button
        (click)="assignDevice()"
          *ngIf="device.assigned == null"
          mat-stroked-button
          color="primary"
          class="assign-btn"
        >
          Assign
        </button>
      </mat-card-title-group>

      <button
        *ngIf="device.assigned != null"
        mat-stroked-button
        color="primary"
        class="assign-btn"
      >
        Unassign
      </button>

      <button (click)="deletedevice(device.id)" mat-button class="del">
        <fa-icon class="my-icon" [icon]="faTrashCan"></fa-icon>
      </button>

      <button (click)="navigateToDetail(device)" mat-button class="arrow">
        <div class="nav-arrow">
          <fa-icon class="my-icon" [icon]="faArrowRight"></fa-icon>
        </div>
      </button>
    </mat-card-header>
  </mat-card>
</div>
