
<div class="search">
  <input
    type="search"
    oninput="refresh" 
    class="form-control w-100"
    placeholder="Search by device name, type or tag #"
    (input)="searchDevices(searchInput)"
    [(ngModel)]="searchInput"
  />
  

</div>

<div *ngFor="let device of devices">
  <mat-card
    class="example-card list name-card-container"
   
  >
    <mat-card-header>
      <img mat-card-sm-image [src]="device.image_url" />
      <mat-card-title-group class="title">
        <mat-card-title>{{ device.name | titlecase }}</mat-card-title>

        <mat-card-subtitle>
          <div class="devicetype">{{ device.device_type }}</div>

          {{ device.tag_no | uppercase }}
          <span class="build"> {{ device.os }}</span>
          <p *ngIf="device.status ===true " class="assigned">
            Assigned to {{ device.user.user_detail.first_name }}
            {{ device.user.user_detail.last_name }}
          </p>
          <p *ngIf="device.status === false" class="assigned">
            No employee assigned
          </p>
        </mat-card-subtitle>
        <button
          (click)="assignDevice(device.id)"
          *ngIf="device.status == false"
          mat-stroked-button
          color="primary"
          class="assign-btn"
        >
          Assign
        </button>
      </mat-card-title-group>

      <button
      (click)="unAssignDevice(device.id)"
        *ngIf="device.status == true"
        mat-stroked-button
        color="primary"
        class="assign-btn" 
      >
        Unassign
      </button>

      <button (click)="deletedevice(device.id)" mat-button class="del">
        <fa-icon class="del-icon" [icon]="faTrash"></fa-icon>
        <i class="fa-solid fa-trash"></i>
      </button>

      <button (click)="navigateToDetail(device.id)" mat-button class="arrow">
        <div class="nav-arrow">
          <fa-icon class="my-icon" [icon]="faAngleRight"></fa-icon>
        </div>
      </button>
    </mat-card-header>
  </mat-card>
</div>