<div class="d-flex justify-content-center">
  <div class="shadow add-device-form">
    <h2>Add Device</h2>
    <form [formGroup]="addDeviceForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
        <input
        placeholder="Device Name"
          [class.is-invalid]="
            addDeviceForm.get('name')?.invalid &&
            addDeviceForm.get('name')?.touched
          "
          style="text-transform: capitalize;"
          formControlName="name"
          type="text"
          class="form-control item mt-1" [class.bg-img]="addDeviceForm.get('name')?.invalid"
        />
      </div>
      <div
        *ngIf="
          addDeviceForm.get('name')?.invalid &&
          addDeviceForm.get('name')?.touched
        "
      >
        <small
          [class.d-none]="addDeviceForm.get('name')?.errors?.['required']"
          class="text-danger"
          >Device Name should be atleast 3 characters</small
        >
        <small
          [class.d-none]="addDeviceForm.get('name')?.errors?.['minlength']"
          class="text-danger"
          >Device Name is required</small
        >
      </div>

      <div class="form-group">
        
        <select
       
          [class.is-invalid]="
            addDeviceForm.get('device_type')?.invalid &&
            addDeviceForm.get('device_type')?.touched
          "
          formControlName="device_type"
          id="deviceType"
          class="form-select form-control item mt-4"
          [class.bg-img]="addDeviceForm.get('device_type')?.touched"
        >
        <option value="" disabled selected>Select the devicetype</option>
          <option>Laptop</option>
          <option>Desktop</option>
          <option>Mouse</option>
          <option>Mobile</option>
          <option>Bag</option>
          <option>Clothing</option>
          <option>Headset</option>
          <option>Keyboard</option>
          <option>Bottle</option>
          <option>Default</option>

        </select>
        <small
          [class.d-none]="
            addDeviceForm.get('device_type')?.valid ||
            addDeviceForm.get('device_type')?.untouched
          "
          class="text-danger"
          >Device type is required</small
        >
      </div>  
      
      

      <div class="form-group">
      
        <select
        [class.bg-img]="addDeviceForm.get('os')?.touched "
                    formControlName="os"
          id="os"
          class="form-select form-control item mt-4"
        >
        <option value="" disabled selected>Select the OS</option>
          <option>MacOS</option>
          <option>Windows</option>
          <option>Linux</option>
          <option>Android</option>
          <option>IOS</option>
        </select>
        <!-- <small
          [class.d-none]="
            addDeviceForm.get('category')?.valid || addDeviceForm.get('category')?.untouched
          "
          class="text-danger"
          >Please select a OS</small
        > -->
      </div>


      <div class="form-group">
        
        <select
        [class.bg-img]="addDeviceForm.get('category')?.touched "
          [class.is-invalid]="addDeviceForm.get('category')?.invalid && addDeviceForm.get('category')?.touched"
          formControlName="category"
          id="category"
          class="form-select form-control item mt-4"
        >
        <option value="" disabled selected>Select the category</option>
          <option>Goodies</option>
          <option>Electronics</option>
          <option>Accessories</option>
        </select>
        <small
          [class.d-none]="
            addDeviceForm.get('category')?.valid || addDeviceForm.get('category')?.untouched
          "
          class="text-danger"
          >Category is required</small
        >
      </div>


      <div class="button"><button
        
        type="submit"
        class="btn btn-primary mt-3"
        style="width: 150px; font-size: 16px; color: #fff; font-weight: 500"
      >
        Add Device
      </button></div>
      <!-- {{addDeviceForm.value | json}} -->
    </form>
  </div>
</div>