<p>create works
</p>

  
  <mat-form-field appearance="fill">
    <mat-label>Device Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>DeviceType</mat-label>
    <mat-select>
      <mat-option value="one">Laptop</mat-option>
      <mat-option value="two">Desktop</mat-option>
    </mat-select>

    
    
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="one">Electronics</mat-option>
      <mat-option value="two">Goodies</mat-option>
    </mat-select>

    
    
  </mat-form-field>
  
  
  
  
  