<div class="container-fluid">
  
  <div class=" shadow add-device-form">
    <h2>Add Device</h2>
    <form [formGroup]="addDeviceForm" (ngSubmit)="onSubmit()">
      
      <div class=" form-group">
        <label>Device Name</label>
        <input [class.is-invalid]="addDeviceForm.get('deviceName')?.invalid && addDeviceForm.get('deviceName')?.touched" formControlName="deviceName" type="text" class="form-control item mt-1 " />
      </div>
      <!-- <small [class.d-none]="addDeviceForm.get('deviceName')?.valid || addDeviceForm.get('deviceName')?.untouched" class=" text-danger">Device Name is required</small> -->
      <div *ngIf="addDeviceForm.get('deviceName')?.invalid && addDeviceForm.get('deviceName')?.touched">
        <small [class.d-none]="addDeviceForm.get('deviceName')?.errors?.['required']" class=" text-danger">Device Name should be atleast 3 characters</small>
        <small [class.d-none]="addDeviceForm.get('deviceName')?.errors?.['minlength']" class=" text-danger">Device Name is required</small>
        
      </div>
      <div class="form-group">
        <label>Assigned To</label>
        <input [class.is-invalid]="addDeviceForm.get('assignedTo')?.invalid && addDeviceForm.get('assignedTo')?.touched" formControlName="assignedTo" type="text" class="form-control item mt-1 "  />
      </div>
      <div *ngIf="addDeviceForm.get('assignedTo')?.invalid && addDeviceForm.get('assignedTo')?.touched">
        <small [class.d-none]="addDeviceForm.get('assignedTo')?.errors?.['required']" class=" text-danger"> Assigned To should be atleast 3 characters</small>
        <small [class.d-none]="addDeviceForm.get('assignedTo')?.errors?.['minlength']" class=" text-danger">Assigned To is required</small>
        
      </div>
      <div class="form-group">
        <label for="deviceType">Device Type:</label>
        <select [class.is-invalid]="addDeviceForm.get('deviceType')?.invalid && addDeviceForm.get('deviceType')?.touched" formControlName="deviceType" id="deviceType" class="form-select form-control item mt-1 ">
          <option selected>Device Type</option>
          <option>Laptop</option>
          <option>Desktop</option>
        </select>
        <small [class.d-none]="addDeviceForm.get('deviceType')?.valid || addDeviceForm.get('deviceType')?.untouched" class="text-danger">Please select a DeviceType</small>
      </div>
  
      <div class="form-group">
        <label for="os">OS:</label>
        <select [class.is-invalid]="addDeviceForm.get('os')?.invalid && addDeviceForm.get('os')?.touched" formControlName="os" id="os" class="form-select form-control item mt-1 ">
          <option selected>os</option>
          <option>macOS</option>
          <option>Windows</option>
          <option>Linux</option>
        </select>
        <small [class.d-none]="addDeviceForm.get('os')?.valid || addDeviceForm.get('os')?.untouched" class="text-danger">Please select a OS</small>
      </div>
  
      <button
          type="submit"
        class="btn btn-primary mt-3"
        style="width: 150px; font-size: 16px; color: #fff; font-weight: 500"
      >
        Add Device
      </button>
    </form>

    
  </div>
</div>
