.scroll::-webkit-scrollbar{
  display: none;

}

.scroll{
  -ms-overflow-style: none;
  scrollbar-width: none;

}
.delete-icon {
  position:absolute;
  top: 0;
  right: 0;
  padding:20px;
  color: red;
  font-size: 1rem;
  margin-top: -10px;
  margin-right: -10px;
  cursor: pointer;
}

.name-card {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  height: 80px;
  width: 80px;
}
main{
    width: 90%;
    margin: 3rem auto 0px;
}

.name-card-container {
  position: relative;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.name-card {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px;
  background-color: tomato;
  border-radius: 14px;
  text-align: center;
}

.name-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name-card-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.name-card-id {
  font-size: 15px;
  color: #666;
  margin-bottom: 5px;
}

.name-card-designation {
  font-size: 16px;
  color: #666;
}

.name-card-icon {
  font-size: 24px;
  color: #333;
}
.icons{
  color: #6664ff;
  font-weight: 400;
}
