<!-- EMP DETAILS SECTION -->
<div class="container p-3 m-5">
  <div class="row scroll" style="height: 75vh; width: 75vw; overflow-y: scroll">
    <div class="d-flex flex-column align-items-center">
      <div class="search-employees col-12 col-md-8 m-3">
        <input
          type="search"
          class="form-control"
          placeholder="Search Employees"
          (input)="searchEmployees(searchInput)"
          [(ngModel)]="searchInput"
        />
      </div>
      <div
        class="col-12 col-md-8 m-1"
        *ngFor="let employee of employeesToDisplay; trackBy: trackByFn"
      >
        <div class="name-card-container p-3" >
          <div
            class="d-flex flex-row justify-content-between align-items-center w-100"
          >
            <div
              class="name-card-row d-flex flex-row justify-content-start align-items-center"
            >
              <div
                class="name-card"
                [ngStyle]="{ 'background-color': '#ccc', color: '#fff' }"
              >
                {{ employee.name.charAt(0) | uppercase
                }}{{ employee.username.charAt(0) | uppercase }}
              </div>
              <div class="name-card-info">
                <h2 class="h5 name-card-name">
                  {{ employee.name }} {{ employee.username }}
                </h2>
                <p class="name-card-phone">{{ employee.phone }}</p>
                <div class="d-flex flex-row align-items-center">
                  <p class="name-card-id me-3">.123456</p>
                  <p class="name-card-id me-3">.designation</p>
                  <ng-container *ngIf="lapyAssigned">
                    <fa-icon class="ms-3 me-2 icons" [icon]="faLapy"></fa-icon>
                  </ng-container>
                  <ng-container *ngIf="mouseAssigned">
                    <fa-icon class="ms-3 me-2 icons" [icon]="faMouse"></fa-icon>
                  </ng-container>
                </div>
                <ng-container *ngIf="!lapyAssigned && !mouseAssigned">
                  <p class="ms-3 icons">No Devices Assigned</p>
                </ng-container>
              </div>
            </div>
           <button *ngIf="assignbutton">assign</button>
           
            <div class="nav-arrow">
              <fa-icon [icon]="faArrowRight"  (click)="viewDetails(employee)"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

