
<!-- LEFTBAR NAVIGATION SECTION AND EMP DETAILS SECTION -->

<div class="d-flex flex-row sidenav">
  <!-- LEFTBAR NAVIGATION SECTION -->
  <div
    class="d-flex flex-column justify-content-between p-3"
    style="
      background-color: #1d3c6a;
      color: #fff;
      width: 15vw;"
  >
    <div class="d-flex flex-column justify-content-center">
      <div class="d-flex flex-row justify-content-start align-items-center">
        <div>
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <p
          class="text-white m-2"
          style="
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            text-align: start;
          "
          (click)="myProfile()"
        >
          &nbsp; &nbsp; My Profile
        </p>
      </div>
      <div class="d-flex flex-row justify-content-start align-items-center">
        <div>
          <fa-icon [icon]="faUsers"></fa-icon>
        </div>
        <p
          class="text-white m-2"
          style="
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            text-align: start;
          "
          (click)="addDevice()"
        >
          &nbsp;&nbsp; Add Device
        </p>
      </div>
      
      <div class="d-flex flex-row justify-content-start align-items-center">
        <div>
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <p
          class="text-white m-2"
          style="
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            text-align: start;
          "
          (click)="deviceList()"
        >
          &nbsp; &nbsp; Devices List
        </p>
      </div>  
    
    </div>
    
    <div class="d-flex flex-row justify-content-start align-items-center">
      <div>
        <fa-icon [icon]="faPowerOff"></fa-icon>
      </div>
      <p
        class="text-white m-2"
        style="
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
          text-align: start;
        "
        (click)="logout()"
      >
        &nbsp;&nbsp; Logout
      </p>
    </div>
  </div>
<div class="col-md-12 col-lg-9 device-list">
<router-outlet></router-outlet>
    
  </div>
</div>