mat-sidenav-container {
  height: 93%;
}
mat-sidenav,
matsidenav-content {
  padding: 16px;
}
mat-toolbar {
  background-color: #0b306a;
  color: #fff;
}
mat-icon {
  margin-left: auto;
}
.menulist-btn {
  margin-left: auto;
}

.device-list {
  margin-top: 70px;
  margin-left: auto;
  margin-right:auto;
  overflow-y:auto;
  height: 83vh;
  
}

