<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-sm-image [src]="src" />
    <mat-card-title-group class="title">
      <mat-card-title>{{ name }}</mat-card-title>

      <mat-card-subtitle
        ><div class="devicetype">{{ deviceType }}</div>
        {{ tagNo | uppercase }}
        <span class="build">{{ build }}</span>
        <p class="assigned">Assigned to {{employeeName}}</p>
        </mat-card-subtitle
      >
      
    </mat-card-title-group>
    
    
     
      <button mat-button>Unassign</button>
    <button mat-button><mat-icon>delete</mat-icon></button>
    
    <button  (click)="onClick()" mat-button><mat-icon>keyboard_arrow_right</mat-icon></button>
  
   
  </mat-card-header>
  
    
    
  
  
  
</mat-card>
