<!-- COROUSEL & FORM SECTION -->
<div class="container-fluid">
  <div class="row" style="background-color: #fff; min-height: 89.3vh">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <!-- COROUSEL SECTION -->
      <div
        id="carouselExampleIndicators"
        class="d-none d-lg-block carousel slide m-5 shadow"
        data-bs-ride="carousel"
        data-bs-interval="4000"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://github.com/Prasthana-Interns-B4/inventory-web/blob/dev/src/app/assets/image1.png"
              class="d-block w-100"
              style="
                height: 450px;
                border-radius: 20px;
                border: 3px solid #081e42;
              "
              alt="Image1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://github.com/Prasthana-Interns-B4/inventory-web/blob/dev/src/app/assets/image2.png"
              class="d-block w-100"
              style="height: 450px; border-radius: 20px"
              alt="Image2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://github.com/Prasthana-Interns-B4/inventory-web/blob/dev/src/app/assets/image3.png"
              class="d-block w-100"
              style="height: 450px; border-radius: 20px"
              alt="Image3"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- FORM SECTION -->
      <div class="login-form shadow">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <p
            style="
              font-size: 18px;
              font-weight: 600;
              color: #081e42;
              align-self: flex-start;
            "
          >
            Login to your account
          </p>

          <div class="form-group">
            <input
              type="text"
              class="form-control item mt-3"
              formControlName="emp_id"
              [ngClass]="{
                invalid: binds.emp_id.touched && binds.emp_id.errors
              }"
              placeholder="Employee ID"
              ngModel
            />
          </div>
          <div
            *ngIf="binds.emp_id.touched && binds.emp_id.errors"
            class="text-danger d-flex flex-row justify-content-start mt-1"
          >
            <div *ngIf="binds.emp_id.errors.required" style="font-size: 14px">
              Employee ID is required
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control item mt-3"
              formControlName="password"
              [ngClass]="{
                invalid: binds.password.touched && binds.password.errors
              }"
              placeholder="Password"
              ngModel
            />
          </div>
          <div
            *ngIf="binds.password.touched && binds.password.errors"
            class="text-danger d-flex flex-row justify-content-start mt-1"
          >
            <div *ngIf="binds.password.errors.required" style="font-size: 13px">
              Password is required
            </div>
            <div
              *ngIf="binds.password.errors.minlength"
              style="font-size: 13px"
            >
              Password must be at least 6 characters
            </div>
          </div>
          <div class="d-flex flex-row justify-content-end mt-1">
            <p
              class="text-primary"
              style="
                font-size: 15px;
                cursor: pointer;
                font-weight: 500;
                text-decoration: underline;
              "
            >
              Forgot password?
            </p>
          </div>
          <div class="d-flex flex-row justify-content-center form-group">
            <button
              type="submit"
              class="mt-2"
              style="
                width: 200px;
                font-size: 16px;
                color: #fff;
                font-weight: 500;
              "
              [ngClass]="
                loginForm.valid === true
                  ? 'btn btn-primary button-active'
                  : 'btn btn-primary disabled'
              "
            >
              Login
            </button>
          </div>
        </form>

        <div>
          <hr />
          <span style="font-size: 16px; font-weight: 500; color: #081e42"
            >Don't have an account ? &nbsp;</span
          >
          <span
            class="text-primary"
            (click)="onClickRegister()"
            style="
              cursor: pointer;
              font-size: 18px;
              font-weight: 600;
              text-decoration: underline;
            "
            >Register
          </span>
        </div>
      </div>
    </div>
    <!-- <p>value: {{loginForm.value | json}}</p>
          <p>value: {{loginForm.valid | json}}</p>  -->
  </div>
</div>
