
<!-- LEFTBAR NAVIGATION SECTION -->
<div
        class="d-flex flex-column justify-content-between p-3"
        style="
          background-color: #1d3c6a;
          color: #fff;
          width: 15vw;
          min-height: 89.3vh;"
      >
        <div class="d-flex flex-column justify-content-center">
          <div class="d-flex flex-row justify-content-start align-items-center mt-2"  (click)="myProfile()">
            <div>
              <fa-icon [icon]="faUser" style="font-size:1.1rem"></fa-icon>
            </div>
            <p
              class="text-white m-2"
              style="
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                text-align: start;
              "
            >
              &nbsp; &nbsp; My Profile
            </p>
          </div> 
          <div class="d-flex flex-row justify-content-start align-items-center  mt-2" *ngIf="role === 'hr_manager'">
            <div>
              <fa-icon [icon]="faUsers" style="font-size:1.1rem"></fa-icon>
            </div>
            <p
              class="text-white m-2"
              style="
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                text-align: start;
              "
              (click)="employeesList()"
            >
              &nbsp;&nbsp; Employees List
            </p>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-center mt-2" *ngIf="role === 'hr_manager'">
            <div>
              <fa-icon [icon]="faUserPlus" style="font-size:1.1rem"></fa-icon>
            </div>
            <p
              class="text-white m-2"
              style="
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                text-align: start;
              "
              (click)="addEmployee()"
            >
              &nbsp; &nbsp; Add Employee
            </p>
          </div>
          <div class="d-flex flex-row justify-content-start align-items-center mt-2" *ngIf="role === 'hr_manager'">
            <div>
              <fa-icon [icon]="faSquarePersonConfined" style="font-size:1.1rem"></fa-icon>
            </div>
            <p
              class="text-white m-2"
              style="
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                text-align: start;
              "
              (click)="pendingRequest()"
            >
              &nbsp; &nbsp; Pending Requests
            </p>
          </div>   
          
          <div class="d-flex flex-row justify-content-start align-items-center  mt-2" *ngIf="role === 'facility_manager'">
            <div>
              <fa-icon [icon]="faAdd" style="font-size:1.1rem"></fa-icon>
            </div>
            <p
              class="text-white m-2"
              style="
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                text-align: start;
              "
              (click)="addDevice()"
            >
              &nbsp;&nbsp; Add Device
            </p>
          </div>
          
          <div class="d-flex flex-row justify-content-start align-items-center mt-2" *ngIf="role === 'facility_manager'">
            <div>
              <fa-icon [icon]="faListSquares" style="font-size:1.1rem"></fa-icon>
            </div>
            <p
              class="text-white m-2"
              style="
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                text-align: start;
              "
              (click)="deviceList()"
            >
              &nbsp; &nbsp; Devices List
            </p>
          </div> 
          
        </div>




        <div class="d-flex flex-row justify-content-start align-items-center  mt-2" (click)="logout()">
          <div>
            <fa-icon [icon]="faPowerOff" style="font-size:1.1rem"></fa-icon>
          </div>
          <p
            class="text-white m-2"
            style="
              font-size: 20px;
              font-weight: 600;
              cursor: pointer;
              text-align: start;
            " 
          >
            &nbsp;&nbsp; Logout
          </p>
        </div>
</div>     