

<div class="container p-3" style="height: 88.1vh; width: 120vw">
  <div class="row">
    <h1 class="col-12 col-md-8 col-lg-7 m-3" style="font-size: 25px">
      Devices Details
    </h1>
    <div class="col-12 col-md-9 m-1">
      <div class="name-card-container p-3 w-100" style="background-color: #fff">
        <div
          class="d-flex flex-row justify-content-between align-items-center w-100"
        >
          <div class="container">
            <div class="row">
              <div class="col-4 ">
                <img
                 [src]="device.image_url"
                  alt="Device picture"
                  class="device-img"
                />
              </div>
              <div class="col-8">
                <h3><b> Name: </b>{{device.name | titlecase}} </h3>
                <p><b> Tagno:</b> {{device.tag_no}}</p>
                
                <p><b>Type:</b> {{device.device_type}}</p>
                <p *ngIf="device?.os"> <b>OS:</b>  {{device.os}}</p>
                <p> <b> category:</b> {{device.category}}</p>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-column align-items-center me-3">
              <fa-icon class="edit-icon"(click)="openUpdateDevice(device)" [icon]="faEdit" ></fa-icon>

            </div>
            <div class="d-flex flex-column align-items-center">
              <fa-icon  class="edit-icon"(click)="deletedevice(device.id)" [icon]="faTrash"></fa-icon>

            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
   
    
    
  
    
    
  </div>
  <h1 *ngIf="device?.user?.emp_id==null" class="col-12 col-md-8 col-lg-7 m-3" style="font-size: 25px">
    No Employee Assigned.!
     </h1>
  <div class="row"><ng-container *ngIf="device?.user?.user_detail?.first_name!=null"> 
    <h1 class="col-12 col-md-8 col-lg-7 m-3" style="font-size: 25px">
      Assigned Employee
     </h1>
    
      <div class="col-12 col-md-8 p-3">
        <div class="name-card-container view-Bg ">
          
          <div
            class="d-flex flex-row justify-content-center align-items-center w-100 ms-4"
          >
            <div class="name-card md-me-3" [ngStyle]="{ color: '#fff' }">{{ device?.user?.user_detail?.first_name[0] | uppercase }}{{ device?.user.user_detail.last_name[0] | uppercase }}</div>
            <div class="d-flex align-items-center flex-grow-1">
              <div class="name-card-info flex-grow-1">
                <h2 class="h5 name-card-name">
                  {{ device?.user?.user_detail?.first_name }} {{ device?.user?.user_detail?.last_name}}
                </h2>
                <div class="d-flex flex-column">
                  <p class="name-card-id mb-1"> <b>Email:</b>{{ device?.user?.email}}</p>
                  
                  <p class="name-card-id mb-1"><b>Emp ID:</b> {{device?.user?.emp_id}}</p>
                  <p class="name-card-id mb-1"><b>Designation:{{device?.user?.role?.role}}</b></p>
                </div>

                
              </div>
              <button
              (click)="unAssignDevice(device.id)"
                *ngIf="device.status == true"
                mat-flat-button
                color="primary"
                class="assign-btn me-5" 
              >
                Unassign
              </button>
            </div>
          </div>
        </div>
      </div>
     </ng-container></div>
</div>


