<div class="d-flex justify-content-center">
  <mat-icon id="close-icon" (click)="closeDialog()" class="" [mat-dialog-close]="false">close</mat-icon>

    <div class=" add-device-form ">
      <h2>Update Device</h2>
      <form [formGroup]="updateDeviceForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          
          <input
          placeholder="Device Name"
            [class.is-invalid]="
            updateDeviceForm.get('name')?.invalid &&
              updateDeviceForm.get('name')?.touched
            "
            style="text-transform: capitalize;"
            formControlName="name"
            type="text"
            class="form-control item mt-1" [class.bg-img]="updateDeviceForm.get('name')?.invalid"
          />
        </div>
        <!-- <small [class.d-none]="addDeviceForm.get('deviceName')?.valid || addDeviceForm.get('deviceName')?.untouched" class=" text-danger">Device Name is required</small> -->
        <div
          *ngIf="
          updateDeviceForm.get('name')?.invalid &&
          updateDeviceForm.get('name')?.touched
          "
        >
          <small
            [class.d-none]="updateDeviceForm.get('name')?.errors?.['required']"
            class="text-danger"
            >Device Name should be atleast 3 characters</small
          >
          <small
            [class.d-none]="updateDeviceForm.get('name')?.errors?.['minlength']"
            class="text-danger"
            >Device Name is required</small
          >
        </div>
  
        <div class="form-group">
          
          <select
         
            [class.is-invalid]="
            updateDeviceForm.get('device_type')?.invalid &&
              updateDeviceForm.get('device_type')?.touched
            "
            formControlName="device_type"
            id="deviceType"
            class="form-select form-control item mt-4"
            [class.bg-img]="updateDeviceForm.get('device_type')?.touched"
          >
          <option value="" disabled selected>Select the devicetype</option>
            <option>Laptop</option>
            <option>Desktop</option>
            <option>Mouse</option>
            <option>Mobile</option>
            <option>Bag</option>
            <option>Clothing</option>
            <option>Headset</option>
            <option>Keyboard</option>
            <option>Bottle</option>
            <option>Default</option>
  
          </select>
          <small
            [class.d-none]="
            updateDeviceForm.get('device_type')?.valid ||
              updateDeviceForm.get('device_type')?.untouched
            "
            class="text-danger"
            >Device type is required</small
          >
        </div>
  
       
  
        <div  class="form-group">
        
          <select
          *ngIf="ifnotnull"
          [class.bg-img]="updateDeviceForm.get('os')?.touched "
                      formControlName="os"
            id="os"
            class="form-select form-control item mt-4"
          >
          <option  value="" disabled selected>Select the OS</option>
            <option>MacOS</option>
            <option>Windows</option>
            <option>Linux</option>
            <option>Android</option>
            <option>IOS</option>
          </select>
          
        </div>
  
  
        <div class="form-group">
          
          <select
          [class.bg-img]="updateDeviceForm.get('category')?.touched "
            [class.is-invalid]="updateDeviceForm.get('category')?.invalid && updateDeviceForm.get('category')?.touched"
            formControlName="category"
            id="category"
            class="form-select form-control item mt-4"
          >
          <option value="" disabled selected>Select the category</option>
            <option>Goodies</option>
            <option>Electronics</option>
            <option>Accessories</option>
          </select>
          <small
            [class.d-none]="
              updateDeviceForm.get('category')?.valid || updateDeviceForm.get('category')?.untouched
            "
            class="text-danger"
            >Category is required</small
          >
        </div>
  
  
        <div class="button"><button
          [mat-dialog-close]="true"
          type="submit"
          class="btn btn-primary mt-3"
          style="width: 150px; font-size: 16px; color: #fff; font-weight: 500"
        >
          Update Device
        </button></div>
        
      </form>
    </div>
  </div>
  
  



 
 