/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

*{
    font-family:'Inter';
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: "inter";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*for-dialog-pop-up */
.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 30px;
  padding: 0px !important;
}
/* confirm dialog */
.confirm-dialog-container .dialog-container {
  border-radius: 025em 025em 4em 4em;
  padding: 0px;


}
.confirm-dialog-container .content-container {
  margin: 0px 0px 15px 15px;
  /* color: #8f9cb5; */
  display: flex;
}

.confirm-dialog-container #close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;

}

.confirm-dialog-container #close-icon:hover {
  cursor:pointer;
}

.confirm-dialog-container #no-button {
  /* height: 50%; */
  width: 50%;
  background-color: #2e527e;
  color: white;
  border-radius: 0px;
}
.confirm-dialog-container #yes-button {
  /* height: 50%; */
  width: 50%;
  background-color: #92a9d8;
  color: white;
  border-radius: 0px;
}
.confirm-dialog-container span.content-span{
  padding:35px 16px;
  text-align: center;
  font-size: 20px;
}
/*confirm-dialog*/
.mdc-dialog__surface{
  overflow-y:hidden !important;
}
/*background-image of form filed */
.bg-img{
  background-image: none !important;
}
